<a href="https://colab.research.google.com/github/Mr-Premanand/Python-Practice/blob/main/Introduction_for_begginer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# STRINGS
a= "my name is prem"
len(a)       # for lenght of string
a.lower()    # for lower font
a.upper()     #for upper font 
a[1]        # string number
a[3:7]       # in this tring number at fist taken is included i.e 3=n and second string after : is excluded i.e 7= space
a.replace('p','g')    # replace th string of first by second string
a.count("e")    # count the string or complet full word writter in"" no, of time repeated
a.find("e")     # to find the spring index number 
a.find("prem")    # to find the starting string index number of word

b= "my,name,     is/prem"
a.split(',')     # to split the by ,

In [ ]:
#INTEGER OR VARIABLE
a = 23
b = 45
c = 3.5
a!=b         # amsweri true becuase givencondition of not equal to is true
a==b         # answer is false because given condition of equal to is false
type(a)    # to know the type of variable i.e integer(int), Float(float), True/false(boolen), for alphabate (string), for complex nu,ber like 3+4i ( complex)
a+b     # addition of variable i.e integer
type(c)    # float type

a= False
b=True
# logical operator like & and | or
a&b     # answer is false because at least one false is present 
a&a     # answer is false because both false 
b&b     # answer is true because both true

a|b     # answer is true because at least one true is present
a|a     # answer is false because both are false
b|b     # answer is true because both are true

In [ ]:
# important
a="1"
type(a)    #in this we know that 1 is integer but as it is writen in double colon"" or single colon'' so that its string i.e strings are written in double/single colon
a='1'
type(a)

In [ ]:
#TUPLE,
#are the immutable i.e once we define we cant change it later, tuple is combination of two or more type of variable i.e integer, float,string,boolen 
tup1=(1,"B",True,'name',False,5.56)
type(tup1)      #type of variable
len(tup1)      # lenght of tuple having six element
tup1[3]         # index of tuple by element number
tup1[2:6]       # in this we call element of tuple i.e including first and excluding second index no.
tup1= 23       # answer will be error because we cant define tuple once it define i.e we have defined it in first line then now we cant define here so that error comes

In [ ]:
#CONCATENATING TUPLE 
#i.e add tuple in one line
tup1=(34, 5.6, "prem")
tup2=('sham', 45, 6.7,True)
tup1+tup2      # tuple 1 then followed by tuple 2
tup2+tup1      # tuple 2 then follwed by tuple 1

# REPEATATING TUPLE i.e repeat the tuple 
tup1*2      # tuple 1 repetate for 2 times
tup2*4      # tupke 2 repeted for 4 time

# REPEATATING AND CONCATENATING TUPLE
tup1*2+tup2     # multiplying tuple or repetating tuple 1 for two time and then add tuple 1
tup2*3+tup1     # multiplying tuple or repetating tuple 2 for 3 times and then add tuple 1

In [ ]:
# MAX AND MIN VALUE FROM TUPLE
# in this we need to add only number i.e integer or float otherwise by adding string and boolen result to error
tup1=(2,4,5,6,7.6)
tup2=(34,4,5.2)
min(tup1)   # 2, min value from tup 1 
max(tup2)   # 34, max value from tuple 2
max(tup1+tup2)   #34,from cancatenating tuple to obtain max value from both tuple
min(tup2+tup1)    # 2,from concatenating tuple to obtain min value from both tuple
max(tup1*2+tup2)    # 34, combine repetating and concatenating tuple.
min(tup1*2+tup2)+max(tup1*2+tup2)   # 34+2=36 to add min and max value by using repetating and concatenating tuple in combine
max(tup1*2+tup2)&min(tup1*2+tup2)   # this is boolen in this result comes like True= max and False= min becuase in and required both true but in this having max and min both so result comes false i.e min value,2
max(tup1*2+tup2)|min(tup1*2+tup2)   # True=max and False=min in or boolen at least one should be true i.e max to get true value i.e max value so that result is ,34 for true= max value

In [ ]:
##lIST 
#list is similar as tuple but list is mutable i.e we can modifiy it once it define
l1=[1,3.4,'prem',True]
type(l1)   # type is list
l1[2]      # index no. of element

# Changing/modifying the 
l1[2]="pritam"      # here we again define index 2(prem)as pritam, and we will print it below
l1              

# Appending i.e adding new element/String at end
l1.append(3)     # add 3 and below for print
l1
l1.append("prem")   # add string and print below
l1

# Popping the last element i.e removing the last element
l1.pop()      # removed last element
l1

# inserting/replacing element ata perticular index 
l1.insert(1,'sparta')
l1

# revering the sequence
l1.reverse()
l1

l2=[5,2,1,2,4,7,]
# sorting of list 
l2.sort()
l2

l3=['sham','ram',"Prem","Apple",'prashant']
l3.sort()
l3

# Concatanating the list
l1+l2   # adding in sequence

# Repeatating the list
l1*2     # repetating the list

In [ ]:
#DICTIONARY
#dictionary is unordered keyset define by perticular value in a {curly bracket} and it is mutable and unindexed and in this duplicate i.e repeated values are not allowed
# for example make disctonary of subject and its weightage
subject={"math":100,"scienece":90,"physics":50,"chemistry":60,}
subject

# to call only key/subject name
subject.keys()

# to call that keys/subjects value i.e weightage
subject.values()

# to call total items and its value
subject.items()

# to add more subject in above defined dictionary
subject["history"]=70     # here only added in backend but to see we need to print below
subject                   #here we printed,   one think need to consider is that in this all data are aranger automatically in sequence

# to define already exists subject/key by different weightage/value
subject["math"]=30      # here it get define by new value to print below go and type dictionary name
subject

# Update one distionary with other engg subject distionary
Enggsub={'som':1007,"m1":150,"MS":200}
subject.update(Enggsub)    #here we add/update distionary of subject by engg distionary
subject

#popping the element from dictionary i.e removing the element
subject.pop("som")    # here som subject is removed and printed below
subject

In [ ]:
#SET
#it also variable like tuple and dictionary but it is unindexed and mutable and does not allowed duplicated i.e repeated value,  similar as dictionary
s1={1,2,1,3}
s1                  # value of 1 is repeted but not comes in set 

# to add one element
s1.add(4)       # to add one element we use add, to add string always use double colon""
s1

# to update more than one element
s1.update([7, "prem"])            # to add more than one element
s1                    

#to remove element
s1.remove(1)        # to remove element
s1

# to union two set or add to sets like  in tup1+tup2
s2={4,6,5,9,8}
s1.union(s2)

# to obtain same element
s1.intersection(s2)

In [ ]:
#IF STATEMENT
a=10
b=20

if a>b:
  print("a is greatre than b")   # in this it will not satisfying condition so it will not print

if b>a:
  print("b is greater than a")    # here condition is satisfied so it will print 

#if else statement
if a>b:
  print("a is greater than b")
else:
  print("b is greater than a")  

# if else elif statement
a=10
b=20
c=30
if (a>b & a>c):                        # inthis we used & boolen to obatain result only when both conditon satisfied
  print("A is gretest value")
elif (b>a & b>c):
  print("B is greatest value")
else:
  print("C is greatest value")

In [ ]:
# If statement for TUPLE
tup1=(1,3,4,5,7,3)
if 6 in tup1:
  print("6 is present in the tuple")
else:
  print("6 is not present in the tuple")

In [ ]:
# If statement fir LIST
l1=[1,3,5,8,5,6]
if l1[3]==8:                      # in this we use index of 3 and check it and if it is satistying then replace index of 3 by value of index 3 with ad of 100
  l1[3]=l1[3]+100
l1                                # to call

# if else statement
if l1[2]==8:
  l1[1]=l1[1]*2                    # in this we used else conditon if index of 2 is not ssatisfird then it move to index 5 to replec it by adding index 5 value with 400
else:
  l1[5]=l1[5]+400
l1

In [ ]:
# If statement for DICTIONARY
subject={"math":100,"scienece":90,"physics":50,"chemistry":60,}
if subject["physics"]==50:
  subject["physics"]=99.9        # similar as above , in this we check if physics have marks of 50 then replce it by 99.99
subject

# if else statement
if subject["chemistry"]==70:
  subject["chemistry"]=subject["chemistry"]+20             # in this we check that chemistry have 70 mark if not then to replace it by adding its 30 to its exist mark
else:
  subject["chemistry"]=subject["chemistry"]+30
subject                                                    # as in above comand is to only replac not to print so that to call value this comand is use.

In [ ]:
# WHILE LOOP 
i=1
while i<=10:             # in this we first defie value of i as 1 then give conditon that while value of i is less than or euqal to 10 till loop will repeat
  print(i)               
  i=i+1                  # here we give  increment value by 1 to check

In [ ]:
# While loop to calculate table of 4
i=1
n=4
while i<=10:
  print(n, "*", i, "=", n*i)
  i=i+1

In [ ]:
# while loop with list
l1=[2,4,5,6,7,2,6,4]
i=0
while i< len(l1):     #in this we define i ans 0 and then continue loop uptil value of i is less than lenght of List i.e lenght is 8 and as i defined 0 then it will continue and index is defined by replacing value
  l1[i]=l1[i]+100
  i=i+1
l1

In [ ]:
# For loop
# in for loop we do not required to give sequeance it take it as itself
l1=["orange","fish",2,4,'mango']
for i in l1:
  print(i)            # as we seen that in result it sequence itself and print one by one

In [ ]:
# For loop
# to print element combinely or with each other from list
l1=['mango','fish','bag']
l2=['blue','yellow','red']
for i in l1:
  for j in l2:
    print(i,j)